.spaceArea {
	width: 100%;
	height: 100%;
	background-color: black;
}

.ship {
	transition: rotate .5s;
	-webkit-transition: -webkit-transform .5s linear;
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}