body > div {
    width: 100%;
    height: 100%;
}

.spaceArea {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.viewFrame {
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
}

.ship {
/*	transition: rotate .5s;
	-webkit-transition: -webkit-transform .5s linear;
*/
}

.selected {
	border: 5px solid yellow;
}