* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
}

body > div {
    width: 100%;
    height: 100%;
}

.spaceArea {
	position: absolute;
	top: 0;
	left: 0;

	background-image: url('../img/stars.gif');
	background-repeat: repeat;

	width: 100%;
	height: 100%;
	margin-left: -500000px;
	margin-top: -500000px;
	width: 1000000px;
	height: 1000000px;
}
.spaceArea * {
	margin-left: 500000px;
	margin-top: 500000px;
}

.viewFrame {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header {
	z-index: 1000;
	position: absolute;
	padding: 20px;
	top: 0;
	width: 100%;
	color: white;
}

.right {
	float: right;
}

.minimap {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: gray;
	overflow: hidden;
	opacity: .5;
}

.mapElement {
	pointer-events: none;
	position: absolute;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	opacity: .5;
	border: 1px solid rgba(255, 255, 255, .8);
}

.mapElement.base {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
}

.mapElement.ally {
	background-color: green;
}
.mapElement.ally.base {
	background-color: white;
}
.mapElement.enemy {
	background-color: red;
}
.mapElement.enemy.base {
	background-color: black;
}

.ship {
/*	transition: rotate .5s;
	-webkit-transition: -webkit-transform .5s linear;
*/
}

.selected {
	border: 5px solid yellow;
}